.hide-folder-note .is-folder-note {
  display: none;
}

.has-folder-note.view-header-breadcrumb {
  text-decoration-line: underline;
  text-decoration-color: var(--text-faint);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.has-folder-note .nav-folder-title-content {
  font-weight: bold;
}
